<ion-header>
    <ion-toolbar>
        <div class="d-flex justify-content-between">
            <ion-buttons>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-button>
                    <ion-icon slot="icon-only" src="../../../assets/icon/logo.svg"></ion-icon>
                </ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-button>
                    <ion-icon slot="icon-only" name="contact"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="center px-5">
        <div class="logo-container">
            <img class="logo" src="../../../assets/icon/logo.png" alt="Logo" />
        </div>

        <h5 class="text-left text-white mt-3">
            Votre comptage a bien été enregistré !
        </h5>
        <div class="w-100">
            <ion-button color="light" expand="full" (click)="onHome()">
                <span class="text-primary font-weight-bolder">Aller à l'accueil</span>
            </ion-button>
        </div>

    </div>
</ion-content>