ion-item {
    --border-color: #000000;
    --padding-start: 0px;
}

ion-label {
    font-size: 1.25rem !important;
    font-weight: bold;
}

ion-select,
ion-select-option {
    color: #ffffff;
    font-weight: bold;
}

.logo-container {
    width: 100px !important;
    height: 100px !important;
}