ion-radio {
    --color: #efefef;
    --color-checked: #4c8dff;
}

.piecharts {
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 0.5rem;
}

.bandcharts {
    width: 100%;
    height: 450px;
    padding: 0.5rem;
}