<ion-header>
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button>
          <ion-icon
            slot="icon-only"
            src="../../../assets/icon/logo.svg"
          ></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mt-3">
      <ion-col size="12">
        <h2 class="text-center text-white text-uppercase">Engins</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isSmallBreakPoint" class="mb-3">
      <ion-col
        *ngFor="let carCategory of carCategories; let i = index"
        size="6"
        [offset]="i === 12 ? 3 : 0"
      >
        <div class="d-flex flex-column bg-grey engine-container">
          <div class="logo-container">
            <img [src]="carCategory.avatar" alt="Engine" />
          </div>
          <div
            class="d-flex justify-content-between align-items-center bg-primary action-container"
          >
            <ion-icon
              color="light"
              class="flex-1"
              slot="icon-only"
              name="add"
              (click)="increment(i)"
            ></ion-icon>
            <ion-label
              type="text"
              class="bg-white flex-2 custom-input"
            >{{ getValue(i) }}</ion-label>
            <ion-icon
              color="light"
              class="flex-1"
              slot="icon-only"
              name="remove"
              (click)="decrement(i)"
            ></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="mb-3" *ngIf="isSmallBreakPoint">
      <ion-col
        *ngFor="let carCategory of carCategories; let i = index"
        size="4"
        [offset]="i === 12 ? 4 : 0"
      >
        <div class="d-flex flex-column bg-grey engine-container">
          <div class="logo-container">
            <img [src]="carCategory.avatar" alt="Engine" />
          </div>
          <div
            class="d-flex justify-content-between align-items-center bg-primary action-container"
          >
            <ion-icon
              color="light"
              class="flex-1"
              slot="icon-only"
              name="add"
              (click)="increment(i)"
            ></ion-icon>
            <ion-label
              type="text"
              class="bg-white flex-2 custom-input"
            >{{ getValue(i) }}</ion-label>
            <ion-icon
              color="light"
              class="flex-1"
              slot="icon-only"
              name="remove"
              (click)="decrement(i)"
            ></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="d-flex justify-content-between">
          <ion-button color="light" (click)="onGoBack()">
            <span class="text-primary font-weight-bolder">Retour</span>
          </ion-button>
          <ion-button color="light" (click)="onSaveCount()">
            <span class="text-primary font-weight-bolder">Enregistrer</span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
