<ion-content>
    <div class="center px-4">
        <div class="logo-container">
            <img class="logo" src="../../../assets/imgs/smiling_emoji.png" alt="Smile" />
        </div>

        <h5 class="text-justify text-white mt-2">
            Merci. Vos informations ont bien été enregistrées ! Un mail contenant vos identifiants de connexion vous a été envoyé.
        </h5>
        <div class="w-100">
            <ion-button color="light" expand="full" (click)="onLogin()">
                <span class="text-primary font-weight-bolder">Connexion</span>
            </ion-button>
        </div>
    </div>
</ion-content>