<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="logo-container">
                    <img class="logo" src="../../../assets/icon/logo.png" alt="Logo" />
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="mb-3">
            <ion-col size="12">
                <h1 class="text-center"> Login </h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <form [formGroup]="loginForm">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label class="text-white">Identification</ion-label>
                                    <ion-input type="text" class="custom-input" formControlName="name"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label class="text-white">Mot de passe</ion-label>
                                    <ion-input type="password" class="custom-input" formControlName="password"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <div class="d-flex justify-content-end">
                                    <ion-button color="light" (click)="onLogin()" [disabled]="!loginForm.valid">
                                        <span class="text-primary">Valider</span>
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h5 class="text-white" (click)="onRegister()">
                    <span class="circle"></span> S'inscrire
                </h5>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>